@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/aeoniktrial-regular.otf');
}

@font-face {
  font-family: 'Maiandra';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/MAIAN.TTF');
}

.home-hero-video {
  width: 100vw !important;
  height: 100% !important;
  top: -2rem;
}

.home-hero-video::before {
  position: absolute;
  pointer-events: none;
  background: #00000080;
  inset: 0;
  content: '';
  display: block;
}